<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,tr,th,td{
            border: 1px solid black;
            border-collapse:collapse ;
            padding: 5px 10px;
            text-align: center;
        }
        th{
            background-color: beige;
        }
        tr:nth-child(even){
            background-color: azure;
        }
        #Position-menu{
            margin: 20px 0px;
            text-align: center;
            height: 30px;
        }
        .index{
            margin-right: 10px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- html 코드는 id가 app인 태그안에서 작업 -->

        <div>
            <select v-model="Position" id="Position-menu" @change="fnProfList">
                <option value="">:: 전체 ::</option>
                <option value="정교수">:: 정교수 ::</option>
                <option value="조교수">:: 조교수 ::</option>
                <option value="전임강사">:: 전임강사 ::</option>
            </select>
        </div>

        <table>
            <tr>
                <th>선택</th>
                <th>교수번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>직급</th>
                <th>급여</th>
                <th>삭제</th>
                <th>수정</th>
            </tr>

            <tr v-for="item in list">
                <td><input type="checkbox" :value="item.PROFNO" v-model="selectItems"></td>
                <td>{{item.PROFNO}}</td>
                <td>{{item.NAME}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.POSITION}}</td>
                <td>{{item.PAY}}</td>
                <td><button @click="fnRemove(item.PROFNO)">삭제</button></td>
                <td><button @click="fnEdit(item.PROFNO)">수정</button></td>
            </tr>
        </table>
        <a class="index" v-for="num in index" @click="page = num">
            <span v-if="num == page" style="color:blue; font-weight: bold;" >{{num}}</span>
            <span v-else>{{num}}</span>
        </a>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                list:[],
                Position :"",
                selectItems:[],
                index: 0,
                page:1,
                pageSize:5
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnProfList: function () {
                let self = this;
                let param={Position : self.Position};
                $.ajax({
                    url: "http://localhost:3009/prof/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        self.list = data.profList;
                        self.index = Math.ceil(data.count/self.pageSize);
                        
                    }
                });
            },
            fnRemove(profNo){
                let self = this;
                if(!confirm("삭제하시겠습니까?")){
                    return;
                }
                
                let param={profNo : profNo};
                $.ajax({
                    url: "http://localhost:3009/prof/delete",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        if(data.result=="success"){
                            alert("삭제완료");
                            self.fnProfList();
                        }
                    }
                });
            },
            fnEdit(profNo){
                location.href="prof-edit.html?profNo="+profNo;
            },
            fnRemoveAll(){
                 if(!confirm("삭제하시겠습니까?")){
                    return;
                }
                
                let param={profNo : profNo};
                $.ajax({
                    url: "http://localhost:3009/prof/deleteAll",
                    dataType: "json",
                    type: "GET",
                    data: {removeList:self.selectItems },
                    traditional:true,
                    success: function (data) {
                        if(data.result=="success"){
                            alert("삭제완료");
                            self.fnProfList();
                        }
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            self.fnProfList();
        }
    });

    app.mount('#app');
</script>